body {
    font-family: 'Roboto', sans-serif;
}


.fila {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 35px;
}
.fila a {
    color: black;
}
@media (max-width: 767px) {
    .fila {
        display: flex;
        flex-wrap: wrap;
    }
    .fila a {
        flex: 0 1;
    }
}
