body {
    font-family: 'Roboto', sans-serif;
}

.tarjeta-afavor {
    background-color: #28b463
}
.tarjeta-encontra {
    background-color: #e74c3c
}
.tarjeta-noconfirmados {
    background-color: #f7dc6f
}
.tarjeta-abstenciones {
    background-color: #b2babb
}

.voto {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
}

.fila {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 35px;
}
.fila a {
    color: black;
}
@media (max-width: 767px) {
    .fila {
        display: flex;
        flex-wrap: wrap;
    }
    .fila a {
        flex: 0 1;
    }
}
