body {
    font-family: 'Roboto', sans-serif;
}

.tarjeta-afavor {
    background-color: #28b463
}
.tarjeta-encontra {
    background-color: #e74c3c
}
.tarjeta-noconfirmados {
    background-color: #f7dc6f
}
.tarjeta-abstenciones {
    background-color: #b2babb
}

.tarjeta-container h3 span {
    color: black;
}
.tarjeta-container h3:before{
    content: '';
    padding-right: 10px;
    border-left: 8px solid;
}
@media (max-width: 767px) {
    .tarjeta-container {
        min-width: 35vw!important;
        max-width: 35vw;
        height: 40vh!important;
    }
}

.tarjeta-header {
    display: flex;
    flex-wrap: wrap;
    background-color: #ebedef;
    color: #566573;
    justify-content: center;
    text-align: center;

}
.tarjeta-header h3 {
    text-transform: uppercase;
    font-size: .8em;
}

.tarjeta-container {
    min-width: 135px;
    height: 400px;
    background-color: #ebedef;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid;
    justify-content: flex-end;
}

.tarjeta-container:nth-child(1),
.tarjeta-container:nth-child(1) {
    min-width: 190px;
}

.tarjeta-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-color: #ebedef;
    border-width: 10px;
    position: relative;
}

.tarjeta-container .tarjeta-body > h1 {
    position: absolute;
    bottom: 0;
}
.border-row {
    border-bottom: 1px solid #da536f;
}

.tarjeta-names-hint {
    position: absolute;
    top: 40px;
    width: 100%;

    text-align: center;
    font-size: 0.8em;
    color: #aaa
}

.tarjeta-container:hover .tarjeta-names-hint {
    display: none;
}

.tarjeta-names {
    font-size: 11px;
    overflow: scroll;
    height: 100px;
    margin: 0px;
    margin-bottom: auto;
    overflow-x: hidden;
    text-align: left;
    opacity: 0;
    transition: all 0.2s;
}

.tarjeta-names:hover {
    opacity: 1;
}

.tarjeta-names li {
    display: block;
}

.tarjeta-names::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.tarjeta-names::-webkit-scrollbar
{
    position: absolute;
    width: 12px;
    background-color: #F5F5F5;
}

.tarjeta-names:hover::-webkit-scrollbar
{
    position: absolute;
    right: 0;
    width: 12px;
    background-color: #F5F5F5;
}


.tarjeta-names::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.tarjeta-container {
    position: relative;
}


.tarjeta-footer {
    background-color: #ebedef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px 5px;
}
.lasdesistemas {
    height: 50px;
    margin-right: 10px;
}

.voto {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
}

.fila {
    margin: auto;
    width: 90%;
    max-width: 680px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 35px;
}
.fila a {
    color: black;
}

.search {
    width: 100%;
}
.search div {
    text-align: center;
}


.senator {
    position: relative;
}

.senator h2 {
    display: inline-block;
}
.senator .changeList {
    display: block;
    /*          flex-flow: nowrap;
       align-items: flex-start; */
    position: relative;
    top: -6px;
    right: inherit;
    transition: all 0.25s;
    margin: 0px;
    padding: 0px;
}
.senator .changeList li {opacity: 0; display: block;}
.senator .changeList:hover {background: white; z-index: 2;}
.senator .changeList:hover li{opacity: 1;}
.senator .changeList li:first-of-type {opacity: 1; background: transparent}

@media (max-width: 767px) {
    .fila {
        display: flex;
        flex-wrap: wrap;
    }
    .fila a {
        flex: 0 1;
    }
}
